language: node_js
node_js:
  - "0.12"
before_install:
  - npm install -g grunt-cli
  - npm install -g protractor
before_script:
  - webdriver-manager update --standalone --firefox
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - nohup bash -c "webdriver-manager start 2>&1 &"
