sudo: required
dist: trusty
language: node_js
node_js:
  - "5.0"
before_install:
  - npm install -g grunt-cli
  - npm install -g protractor
  - npm install -g bower
before_script:
  - bower install
  - webdriver-manager update --standalone --firefox
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - nohup bash -c "webdriver-manager start 2>&1 &"
