doctype html
html(lang="en" ng-app="app")
    head
        title Hello World
        script(src="js/angular.js")
        script(src="js/angular-route.js")
        script(src="js/app.js")

        link(rel="stylesheet", href="css/style.css")
    body
        div(ng-view)